<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="RegisterConnectionString" connectionString="Data Source=192.168.8.3\sql08dev;Initial Catalog=TSEnterpriseManage;Persist Security Info=false;User ID=tsdev;Password=tssql08"/>
		<add name="ProductConnectionString" connectionString="Data Source=192.168.8.3\sql08dev;Initial Catalog=TSMobileProduct;Persist Security Info=false;User ID=tsdev;Password=tssql08"/>
	</connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime maxRequestLength="1024000000" executionTimeout="3600" useFullyQualifiedRedirectUrl="false" requestValidationMode="2.0" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1024000000" ></requestLimits>
      </requestFiltering>
    </security>
  </system.webServer>
  <appSettings>
    <add key="server" value="127.0.0.1" />
    <add key="port" value="3051" />
  </appSettings>
</configuration>